* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
}

.nested {
    width: 50%;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    height: 100%;
}