.col-1 ,
.col-2 , 
.col-6 , 
.col-8 , 
.col-12 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.row {
    background-color: #ffc0cb;
}

.nest {
    display: flex;
    margin: 0.3rem;
    background-color: #f07f80;
    justify-content: center;
    align-items: center;
}

.nested {
    border: 1px solid black;
}